.img {
  display: inline-block;
  width: 200px;
  height: 200px;
  background-size: cover;
  background-position: 50%;
  background-color: rebeccapurple;
  margin: 8px 25px;
  border: 5px solid #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  cursor: pointer;
}

.img:hover {
  transform: scale(1.15);
}
