body {
  text-align: center;
  background-color: cadetblue;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  padding: 15px;
  width: 95%;
  margin: auto;
  margin-bottom: 25px;
  border-radius: 0 0 15px 15px;
  margin: auto;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.App-link {
  color: #09d3ac;
}
